@import "variables";

:host {
  position: relative;
  width: auto;
  height: auto;
}

.team-input {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  min-width: 30vw;
  padding: 2rem;
  background: $color-bg;
  border-radius: $r-xl;
  box-shadow: 2px 2px 10px $color-shadow;

  @media (max-width: $screen-md) {
    min-width: 90vw;
  }
}

.team-list {

  margin-top: 0.5rem;

  .team {
    padding: 0.5rem;
    border-bottom: 1px solid $color-border;
  }
}
