$color-bg: hsl(0, 0%, 100%);
$color-fg: hsl(0, 0%, 12%);


$color-primary: hsl(162, 69%, 63%);
$color-primary-dark: hsl(170, 49%, 53%);
$color-primary-darker: hsl(170, 42%, 40%);
$color-primary-fg: hsl(0, 0%, 18%);
$color-primary-darke-fg: hsl(0, 0%, 95%);

$color-shadow: hsla(0, 0%, 0%, 0.2);

$r-sm: 5px;
$r-md: 10px;
$r-lg: 15px;

$r-50: 50%;

