<content-wrapper class="content-center">
  <player-input
    (playerAdded)="playerInputChange($event)"
    *ngIf="this.playerInput"
    [@inOutAnimation]
  >
  </player-input>
  <team-input
    (playerAdded)="playerInputChange($event)"
    [players]="this.players"
    *ngIf="this.teamInput"
    [@inOutAnimation]
  >
  </team-input>
  <player-list [players]="this.players"></player-list>
  <button
    id="nextBtn"
    [@inOutAnimation]
    *ngIf="this.players.length > 1"
    class="button"
    (click)="nextBtnPressed()"
  >
    {{this.btnTag | translate}}
  </button>
</content-wrapper>
