@import "variables";

:host {
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
  height: 100%;
  min-width: 10rem;
  background-color: $color-bg;
  z-index: 1;

  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: -30%;
    height: 100%;
    width: 100%;
    background-color: $color-bg;
    transform: skew(-5deg);
    z-index: -1;
  }

  @media (max-width: $screen-md) {
    top:0;
    left: 0;
    width: 100%;
    height: auto;
  }
}

.player-list {
  display: flex;
  flex-direction: column;
  height: 90%;
  max-height: 90%;
  overflow: auto;


  @media (max-width: $screen-md) {
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
  }

}

.player-item {
  padding: 0.5rem 0;
  margin-left: 0.5rem;
  border-bottom: 1px solid $color-border;
  font-size: 16pt;
  max-width: 20vw;
  text-overflow: ellipsis;
  overflow: hidden;
  min-height: 50px;
  display: flex;

  .player-name {
    flex-grow: 1.0;
  }

  .player-delete {
    background-color: $color-error;
    color: $color-error-fg;
    padding: 0 0.4rem;
    margin: 0 0.2rem;
    cursor: pointer;
    border-radius: $r-sm;
    transition: 0.25s ease-in-out;

    &:hover {
      transform: scale(1.05);
      box-shadow: 2px 3px 10px $color-shadow;
    }
  }

  @media (max-width: $screen-md) {
    border: none;
    border-right: 1px solid $color-border;
    padding: 0.5rem;
    max-width: 48vw;
  }
}
